*{
    margin: 0;/*margen en 0*/
    padding: 0;/*padding en 0*/
    box-sizing: border-box;/*para que no se vea el borde*/
    text-decoration: none;/*para que no se vea el texto*/
    font-family: 'Roboto', sans-serif;/*fuente*/
}

body{
    background-image: url(../img/Polinesia.jpg);/*imagen de fondo*/
    background-size: cover;/*para que se vea la imagen de fondo*/
    background-repeat: no-repeat;/*para que no se repita la imagen de fondo*/
    background-attachment: fixed;/*para que se vea la imagen de fondo*/
    background-position: center;/*para que se vea la imagen de fondo*/
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}
.contenedor__todo{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
}



/*Formularios*/
.contenedor__login-registro{
    /*display: flex;*/
    align-items: center;
    height: 900px;/*altura del formulario*/
    width: 100%;/*ancho del formulario*/
    max-width: 900px;/*ancho maximo del formulario*/
    position: absolute;
    top: -50px;
    left: 10px;
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

}
.contenedor__login-registro form{
    width: 100%;
    padding: 80px 30px;
    background: white;/*cambiar a blanco*/
    position: relative;
    border-radius: 20px;
}
.contenedor__login-registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:  #46a2fd;
}
.contenedor__login-registro form input{
    width: 50%;
    margin-top: 20px;/*cambiar a 20px*/
    padding: 10px;/*cambiar a 10px*/
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
    position: relative;
}
.contenedor__login-registro form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  color: white;
  cursor: pointer;
  outline: none;
}
.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__registro{
    display: none;
}
/*Responsive para el formulario de login*/
@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }

    /*Formularios*/
    .contenedor__login-registro{
        top: -100px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-registro form{
        position: relative;
    }
}