*{
    margin: 0;/*margen en 0*/
    padding: 0;/*padding en 0*/
    box-sizing: border-box;/*para que no se vea el borde*/
    text-decoration: none;/*para que no se vea el texto*/
    font-family: 'Roboto', sans-serif;/*fuente*/
}

body{
    background-image: url(../img/Polinesia.jpg);/*imagen de fondo*/
    background-size: cover;/*para que se vea la imagen de fondo*/
    background-repeat: no-repeat;/*para que no se repita la imagen de fondo*/
    background-attachment: fixed;/*para que se vea la imagen de fondo*/
    background-position: center;/*para que se vea la imagen de fondo*/
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}
/*--------------------------------------------------------------*/
.encabezado     /*para el encabezado*/
    {
        background: rgba(240, 172, 172, 0.3);/*color de fondo*/
    }
.encabezado .menu 
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
 
    }
.encabezado .menu ul
    {
        list-style: none; /*sacar los puntos de las viñetas*/
        display: flex;/* deja uno al lado del otro en forma horizontal*/
        justify-content: space-between;
    }
.encabezado .menu ul li ul 
    {
        display: flex;/* deja uno al lado del otro en forma horizontal los sub menu*/
        flex-direction: column;/* deja en forma vertical los sub item*/
        position: absolute; /*esto es para sacar los sub menu fuera del header*/
        background: rgb(203, 205, 36);
        display: none; /*hago desaparecer el sub item*/
    }
.encabezado .menu ul li:hover >ul
    { 
        display: flex;/* deja uno al lado del otro en forma horizontal los sub menu*/
        flex-direction: column;/* deja en forma vertical los sub item*/
        position: absolute; /*esto es para sacar los sub menu fuera del header*/
        background: rgba(245, 143, 10,.3);   
    }
.encabezado .menu ul li ul li
    {
        width: 480px; /* hacemos crecer el ancho de los sub item*/
    }
    a
    {
        text-decoration: none; /*Sacar el subrrallado de las etiquetas*/
        font-size: 20px;
        color: rgb(203, 205, 36);
        padding: 12px 20px;
        display: block; /*es para que no se superpongan los sub item*/
    }
    a:hover
    {
        color: #fff;
    }























/*--------------------------------------------------------------*/
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;/*centra el contenido*/
    /*backdrop-filter: blur(10px);/*para darle un efecto de blur*/
    background-color: rgba(0,128,255,0.5);/*color de fondo caja trasera*/
}
.caja__trasera div{/*para centrar el contenido*/
    margin: 100px 40px;/*margen de la caja trasera*/
    color: white;/*color de texto*/
    transition: all 0.5s;/*transicion de tamaño*/
}

.caja__trasera div p,/*para centrar el contenido*/
.caja__trasera div button{/*para centrar el contenido*/
    margin-top: 30px;/*margen de la caja trasera*/
}
.caja__trasera h3{
    font-weight: 400;/*para que el texto sea mas liviano*/
    font-size: 26pxm;/*para que el texto sea mas liviano*/
}
.caja__trasera button{/*para centrar el contenido*/
    padding: 10px 40px;/*para que el texto sea mas liviano*/
    border: 2px solid;/*para darle un borde al boton*/
    background: transparent;/*para que el boton sea transparente*/
    font-size: 14px; /*para que el texto sea mas liviano*/
    font-weight: 600;/*para que el texto sea mas liviano*/
    cursor: pointer;/*para que el cursor sea una mano*/
    color: white;/*para que el texto sea mas liviano*/
    outline: none;/*para que el outline no se vea*/
    transition: all 0.4s;/*transicion de tamaño*/
}
.caja__trasera button:hover{
    background:white;
    color: #46a2fd;
}
/*Formularios*/
.contenedor__login-registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

}
.contenedor__login-registro form{
    width: 100%;
    padding: 80px 20px;
    background: white;/*cambiar a blanco*/
    position: absolute;
    border-radius: 20px;
}
.contenedor__login-registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:  #46a2fd;
}
.contenedor__login-registro form input{
    width: 100%;
    margin-top: 20px;/*cambiar a 20px*/
    padding: 10px;/*cambiar a 10px*/
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}
.contenedor__login-registro form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  color: white;
  cursor: pointer;
  outline: none;
}
.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__registro{
    display: none;
}
/*Responsive para el formulario de login*/
@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div{
        margin: 0;
        position: absolute;
    }
    /*Formularios*/
    .contenedor__login-registro{
        top: -100px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-registro form{
        position: relative;
    }
}