.header{
background-color: aquamarine;
height: 90px;
position: fixed;
top: 0;
left: 0;
width: 100%;
}
/*-----------------------------------------------*/
.nav{
  display: flex; 
  justify-content: space-between; 
}
.nav-link{
color: white;
text-decoration: none;
}
.logo__img{
  width: 90px;
  height: 90px;
  margin-left: 20px;
  line-height: 80px;
}
.web{
    font-size: 20px;
    font-weight: 600;
    margin-left: 0px;
    line-height: 80px;
    width: max-content;/*no corta el titulo*/
    display: block;
    position: absolute;
    margin-left: 120px;
}
.mov{
  
    margin-left: 20px;
    font-weight: 600;
    color: black;
    display: none;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 10px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 145px;
    text-transform: uppercase;
}
.nav-menu-link{
    padding: 8px 12px;
}
.nav-menu-link:hover {
    background-color: #034574;
    transition: 0.5s;
}
.nav-hide_2 {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

























@media screen and (max-width: 768px) {

    .nav-menu{
        flex-direction: column;
        margin-right: 10px;
        background-color: #034574;
        position: fixed;
        right: 0;
        top: 60px;
        width: 40%;
        padding: 20px 0;
        height: calc(100%-60px);
        overflow-y: auto;
    }
    .nav-menu-item{
        font-size: 14px;
        line-height: 60px;
      
    }
    .nav-menu-link:hover {
        background-color: none;
        transition: 0.5s;
        color: aqua;
    }


    .nav-hide_2 {
        display: block;
        color: black;
    }
 
    .web{
        display: none;
    }
    .mov {
        display: block;
        position: absolute;
        margin-left: 120px;
    }
}
    
@media screen and (max-width: 576px) {
.header{
    height: 60px;
}
    .logo__img{
        width: 40px;
        height: 40px;
        margin-bottom: 0px;
        position: absolute;
        top: 10px;
      }

    .nav-menu-item {
        display: none;
    }
    .nav-menu-link {
        display: none;
    }
    .web{
        display: none;
    }
    .mov {
        font-size: 15px;/*tamaño de letra*/
        display: block;
        position: absolute;
        margin-left: 70px;
        line-height: 60px;
        

    }
}


